<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="A brief, engaging summary of your webpage goes here.">
        <meta name="keywords" content="company, aerospace, artificial intelligence">
        <title>Company Website</title>
    </head>
    <body>
        <header>
            <a href="{% url '/' %}">Home</a> |
            <a href="{% url 'about' %}">About</a>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
